.header {
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.loginButton,
.logoutButton {
	color: #ffffff;
	padding: 1em 2em;
	margin: 0 1.5em;
	font-weight: 600;
	font-size: 1em;
	background-color: #094d95;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.5s ease;
}

.logoutButton {
	background-color: #14a3e6;
}

.loginButton:hover {
	background-color: #14a3e6;
}

.logoutButton:hover {
	background-color: #094d95;
}

.logo {
	margin: 0 1em;
}

@media (max-width: 600px) {
	.logo {
		width: 210px;
	}

	.loginButton,
	.logoutButton {
		padding: 0.7em 1em;
		margin: 0 1em;
		font-size: 0.8em;
	}
}
