.content form {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row !important;
}

.column {
}

.column h2 {
	margin: 1em;
}

.field {
	margin: 1em;
	display: flex;
	flex-direction: column;
}

.field input {
	border: 1px solid #094d95;
	border-radius: 5px;
	width: 250px;
	background-color: #ffffff;
	color: #094d95;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1em;
}

.field label {
	color: #094d95;
	font-weight: 600;
}

.actionsWrapper {
	position: absolute;
	bottom: 8px;
	display: flex;
	width: calc(100% - 2rem);
	justify-content: flex-end;
}

.closeButton,
.editButton,
.saveButton,
.deleteButton,
.cancelButton {
	padding: 0.7em 2em;
	margin: 10px;
	font-size: 1.5em;
	color: #fff;
	background-color: #094d95;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.deleteButton {
	background-color: darkred;
}

.saveButton {
	background-color: #14a3e6;
}

@media (max-width: 600px) {
	.content {
		margin: 0 12px;
	}

	.column h2 {
		margin: 0;
		margin-bottom: 4px;
	}

	.content form {
		flex-direction: column !important;
	}

	.field {
		margin: 0;
	}

	.closeButton,
	.editButton,
	.saveButton,
	.deleteButton,
	.cancelButton {
		padding: 0.7em 1em;
		margin: 0 1em;
		font-size: 0.8em;
	}
}
