.wrapper {
	width: 70%;
	min-height: calc(100vh - 120px - 120px);
	/* height dirty fix to create a "sticky" footer but still scrollable with more content. 120px is height of both header and footer */
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper img {
	width: 100%;
}

.wrapper h1 {
	color: #094d95;
	font-size: 8em;
	margin: 0;
}

.wrapper h2 {
	color: #5c5c5c;
}

.wrapper p {
	text-align: center;
}

.wrapper a {
	color: #14a3e6;
	text-decoration: none;
	transition: color 0.5 ease;
}

.wrapper a:hover {
	color: #094d95;
}

@media (max-width: 600px) {
	.wrapper h1 {
		font-size: 4em;
	}

	.wrapper h2 {
		text-align: justify;
	}

	.wrapper p {
		text-align: justify;
	}
}
