.listWrapper {
	max-width: 100%;
	min-height: calc(100vh - 120px - 120px);
	/* height dirty fix to create a "sticky" footer but still scrollable with more content. 120px is height of both header and footer */
	display: flex;
	justify-content: center;
	padding: 1em 1em 3em;
}

table {
	border-collapse: separate;
	border-spacing: 0 1em;
}

.headerRow {
	color: #094d95;
}

.row tr {
	background-color: #fff;
	transition: all 0.5s ease;
}

.row tr:hover td {
	/* background-color: #cbedfd !important; */
	background-color: red !important;
}

.row td {
	cursor: pointer;
	padding: 1.2em 8px;
	margin: 5px 0;
	background-color: #fff;
	transition: all 0.5s ease;
	position: relative;
	box-shadow: inset 0px 11px 8px -10px #094d954f,
		inset 0px -11px 8px -10px #094d954f;
}

.row td:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: inset 0px 11px 8px -10px #094d954f,
		inset 0px -11px 8px -10px #094d954f, inset 11px 0px 8px -10px #094d954f;
}

.row td:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: inset 0px 11px 8px -10px #094d954f,
		inset 0px -11px 8px -10px #094d954f, inset -11px 0px 8px -10px #094d954f;
}

.deleteButton {
	cursor: pointer;
	color: #094d95;
	font-size: 20px;
	display: flex;
	justify-content: center;
	transition: all 0.5s ease;
}

.deleteButton:hover {
	color: darkred;
}

@media (max-width: 600px) {
	.headerRow th {
		text-align: start;
	}

	.row td {
		padding: 1.2em 4px;
	}
}
