.loginModal,
form {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loginModal {
	padding: 50px 8px;
}

.errorMessage {
	color: rgb(182, 0, 0);
}

.field {
	margin: 1em;
	display: flex;
	flex-direction: column;
	max-width: 250px;
}

.field input {
	border: 1px solid #094d95;
	border-radius: 5px;
	background-color: #ffffff;
	color: #094d95;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1em;
}

.field label {
	color: #094d95;
	font-weight: 600;
}

.logInButton {
	padding: 0.7em 2em;
	font-size: 1.5em;
	color: #fff;
	background-color: #094d95;
	border: none;
	border-radius: 5px;
	margin: 1em auto;
	cursor: pointer;
}

.closeButton {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #fff;
	border: none;
	color: #094d95;
	cursor: pointer;
	font-size: 1.2em;
	transition: background-color 0.5s ease;
	padding: 0;
}

.closeButton:hover {
	background-color: #eefaff;
}
